{% extends 'blog/base.html' %}
{% block test %}
{% if title %}
    <title>{{ title }} Event Ninja Bhopal</title>
{% else %}
    <title>Welcome to Event Ninja</title>
{% endif %}
{% endblock test %}

{% block content %}
<h3>Event Ninja - User Registration Page</h3>
<form method="POST">
	{% csrf_token %}
	<fieldset>
		<legend>Join Today</legend>
		{{ form.as_p }}
	</fieldset>
	<button type="submit">Sign Up</button>
	<fieldset>
		<legend>Aready registered</legend>
		<p>Already have an account??</p>
		<p><a href="{% url 'login' %}" id="logsin">Sign in</a>
	</fieldset>
{% endblock content %}
